* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
}
.parent {
  height: 64px;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 110px;
  height: 100%;
  display: flex;
  align-items: center;
}
.menu_right {
  display: flex;
  align-items: center;
}
.menu_item {
  width: 72px;
}
.button {
  display: flex;
  width: 62px;
  height: 36px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  background: #ff333f;
  border: none;
  border-radius: 4px;
}

/*.button:hover {
  opacity: 1;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}*/

.button-text {
  margin-left: 3px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}
